*{
    margin : 0;
    padding : 0;
    list-style-type: none;
}
/* html,body{
    width: 100%;
    height: 100%;
} */

.startPage{
    width: 100%;
    height: 1000px;
    /* height: 100%; */
    z-index: 999;
    position: absolute;
    left:0;
    top: 0;
}
.startBtn{
    background-image: url('img/startGame.png');
    height: 170px;
    width: 200px;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}
.wrapper{
    width: 100%;
    height: 1000px;
    /* height: 100%; */
    background-image: url("./img/bg.jpg");
    background-size: 100% 100%;
    position: relative;
}
.left-side{
    width: 24%;
    position: absolute;
    height: 1000px;
    /* height: 100%; */
}
.left-side img{
    display: none;
    margin-left: 50px;
    margin-top: 50px;
}
.main{
    width: 50%;
    left: 25%;
    position: absolute;
    height: 90%;
}
.header{
    width: 100%;
    height: 80px;
    text-align: center;
    
}
.score{
    line-height: 80px;
    color: #ddd;
    font-size: 20px;
    font-weight: bolder;
}
.content{
    position: absolute;
    width: 79.5%;
    height: 36.5%;
    left: 10%;
    top: 34%;
}
.loser{
    display: none;
    width: 100%;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
}
.con{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    background-image: url("./img/startP.jpg");
    background-size: 100% 100%;
    
}
.loserScore{
    font-size: 30px;
    color:#000;
    font-weight: bolder;
    position: absolute;
    width: 60px;
    height: 30px;
    left: 40%;
    top: 42%;
}
.close{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-image: url("./img/closeBtn.png");
    background-size: 100% 100%;
    cursor: pointer;
}
.food{
    background-image: url("./img/apple.png");
    background-size: 100% 100%;
}
.body.snake{
    background-image: url("./img/body.png");
    background-size: 100% 100%;
}
.head.snake{
    background-image: url("./img/head.png");
    background-size: 100% 100%;
}